/* Etiquetas para navegadores PONER EN ANIMACION
Firefox 3.6+		-moz	-moz-linear-gradient
Chrome, Safari 4	 	-webkit	-webkit-gradient
Crohome 10+, Safari 5.1+	 	-webkit	-webkit-linear-gradient
Opera 11.10+		-o	-o-linear-gradient
Internet Explorer 10+		-ms	-ms-linear-gradient
*/

.inicio {
    position: flex;
    border-style: solid;
    border-color: #e7e7e7;
    width: 100%;
    height: 100%;
}

.contener-ball {
    justify-content: center;
    height: 115px;
    width: 95px;
    overflow: hidden;
}

.ball-bola {
    border-radius: 30px;
    width: 30px;
    animation: anim 1s infinite ease;
    -moz-animation: anim 1s infinite ease;
    -ms-animation: anim 1s infinite ease;
    -o-animation: anim 1s infinite ease;
    animation: anim 1s infinite ease;
}

.saltar-bola {
    border-radius: 30px;
    display: inline-block;
    background-color: rgba(153, 153, 153, 0.2);
    box-shadow: 1px 1px 8px #999999;
    animation: anim-saltar 1s infinite ease;
    -moz-animation: anim-saltar 1s infinite ease;
    -ms-animation: anim-saltar 1s infinite ease;
    -o-animation: anim-saltar 1s infinite ease;
    animation: anim-saltar 1s infinite ease;
}

@-webkit-keyframes anim {
    0% {
        height: 30px;
        margin-top: 0px;
        background-color: #CB2025;
    }
    25% {
        height: 15px;
        margin-top: 100px;
        background-color: #F8B334;
    }
    100% {
        height: 30px;
        margin-top: 0px;
        background-color: #CB2025;
    }
}

@-webkit-keyframes anim-saltar {
    0% {
        width: 90px;
        height: 2px;
    }
    25% {
        width: 30px;
        height: 2px;
    }
    100% {
        width: 90px;
        height: 2px;
    }
}

@-moz-keyframes anim {
    0% {
        height: 30px;
        margin-top: 0px;
        background-color: #CB2025;
    }
    25% {
        height: 15px;
        margin-top: 100px;
        background-color: #F8B334;
    }
    100% {
        height: 30px;
        margin-top: 0px;
        background-color: #CB2025;
    }
}

@-moz-keyframes anim-saltar {
    0% {
        width: 90px;
        height: 2px;
    }
    25% {
        width: 30px;
        height: 2px;
    }
    100% {
        width: 90px;
        height: 2px;
    }
}

@-ms-keyframes anim {
    0% {
        height: 30px;
        margin-top: 0px;
        background-color: #CB2025;
    }
    25% {
        height: 15px;
        margin-top: 100px;
        background-color: #F8B334;
    }
    100% {
        height: 30px;
        margin-top: 0px;
        background-color: #CB2025;
    }
}

@-ms-keyframes anim-saltar {
    0% {
        width: 90px;
        height: 2px;
    }
    25% {
        width: 30px;
        height: 2px;
    }
    100% {
        width: 90px;
        height: 2px;
    }
}

@keyframes anim {
    0% {
        height: 30px;
        margin-top: 0px;
        background-color: #CB2025;
    }
    25% {
        height: 15px;
        margin-top: 100px;
        background-color: #F8B334;
    }
    100% {
        height: 30px;
        margin-top: 0px;
        background-color: #CB2025;
    }
}

@keyframes anim-saltar {
    0% {
        width: 90px;
        height: 2px;
    }
    25% {
        width: 30px;
        height: 2px
    }
    100% {
        width: 90px;
        height: 2px;
    }
}