/* @import url(https://fonts.googleapis.com/css?family=Khula:700); */

@font-face {
    font-family: "Bubbles";
    src:url("/fonts/bubbles.TTF");
}

@import url('https://fonts.googleapis.com/css?family=Varela+Round');


body {
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 500% 500%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}


.hidden {
    opacity: 0;
}

.tecleando-container {
    font-family: 'Varela Round', sans-serif;
    font-size: 4em;
    text-align: center;
    height: 200px;
    width: 600px;
    display: block;
    position: absolute;
    color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.tecleando-underscore {
    display: inline-block;
    position: relative;
    top: -0.14em;
    left: 10px;
}