/* @import url(https://fonts.googleapis.com/css?family=Khula:700); */

@font-face {
    font-family: "Bubbles";
    src:url("/fonts/bubbles.TTF");
}

@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Roboto:500');

#audio{
   opacity: 100%;
}

#canvas {
    display: flex;
    background: #fff;
    width: 100%;
    height: auto;
}
#Game {
    display: none;
    justify-content: center;
}
body {
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 500% 500%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}


.hidden {
    opacity: 0;
}

a {
    color: inherit; 
    text-decoration: inherit; 
    font-size: 0.8em;
  }


.tecleando-container {
    font-family: 'Varela Round', sans-serif;
    font-size: 4em;
    text-align: center;
    height: 200px;
    width: 600px;
    display: block;
    position: absolute;
    color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.tecleando-underscore {
    display: inline-block;
    position: relative;
    top: -0.14em;
    left: 10px;
}

.btn-item {
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    position: relative;
    padding: 25px 40px 20px;
    margin-top: 10%;
    font-size: 18px;
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#visit{
    margin-top: -10%;
}

.btn-item:before, .btn-item:after {
    content: '';
    position: absolute;
    transition: inherit;
    z-index: -1;
}

.btn-item:hover {
    color: #FF9800;
    transition-delay: .6s;
}

.btn-item:hover:before {
    transition-delay: 0s;
}

.btn-item:hover:after {
    background: #fff;
    transition-delay: .4s;
}

.btn-effect:before, .btn-effect:after {
    top: 0;
    width: 0;
    height: 100%;
}

.btn-effect:before {
    left: 0;
    border: 1px solid #fff;
    border-left: 0;
    border-right: 0;
}

.btn-effect:after {
    right: 0;
    top: 1px;
}

.btn-effect:hover:before, .btn-effect:hover:after {
    width: 100%;
}